.App {
  text-align: center;
  background: black;
  background-image: url("../image/Brain.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.operations {
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

li {
  border-radius: 10px;
  font-family: " Tahoma ";
  font-size: 1.2em;
  font-weight: bold;
}

#list-title {
  font-size: 1.5em;
  font-style: italic;
}

.calc {
  animation: fade-in 0.5s ease-in;
  z-index: 2;
}

@keyframes fade-in {
  0% {
    height: 0;
  }
  100% {
    height: 485px;
  }
}

.hidden {
  display: none;
}

.delayOpacity {
  opacity: 0 !important;
}

.delayWidth {
  min-width: 0px !important;
  max-width: 0px !important;
}

.roll {
  background-image: linear-gradient(
    30deg,
    lightblue 0%,
    #0abfbc 51%,
    lightblue 100%
  );
  transition-property: opacity, min-width, max-width;
  transition-duration: 0.25s;
  min-height: 485px;
  max-height: 485px;
  min-width: 300px;
  max-width: 300px;
  border: none;
  border-radius: 15px;
  opacity: 0.7;
  box-shadow: 0 0 5px #eee;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-color: #69b3dd #b3dfe1;
  z-index: 3;
}

.roll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.roll::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.4);
}

input[type="button"] {
  width: 100%;
  padding: 20px 40px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  max-width: 90px;
}

#back {
  padding-left: 17px;
}

p {
  background: #b6b4b3;
  font-size: 24px;
  font-weight: bold;
  line-height: 75px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px #eee;
  max-width: 270px;
  min-width: 270px;
}

#title:hover {
  background-position: center;
  color: brown;
  text-decoration: none;
  cursor: pointer;
}

#display {
  min-height: 78px;
  word-wrap: break-word;
  line-height: normal;
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

#title {
  background-image: linear-gradient(
    to right,
    #fc354c 0%,
    #0abfbc 51%,
    #fc354c 100%
  );
  font-family: serif;
  font-size: 1.5em;
  font-style: italic;
  color: #1f1e1e;
  background-size: 200% auto;
  transition: 0.5s;
  display: block;
  margin-right: 2px;
  margin-left: 2px;
}

#clear,
#back {
  margin-top: -15px;
  margin-bottom: -7px;
}

#clear {
  padding-left: 35px;
}

a {
  margin: 20px;
}

.footer {
  color: #b6b4b3;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  margin-right: 20px;
}
.footer a {
  display: inline;
}

.twitter {
  color: #61dafb;
  font-size: 1.1em;
}

.github {
  color: lightgrey;
  font-size: 1.1em;
}

.footer a:hover {
  color: orangered;
}

.footer,
.footer a {
  font-size: 1em;
}

.footer h1 {
  font-size: 1.8em;
}

@media (max-width: 770px) {
  .operations {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .roll {
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
  }
}
