.App {
  text-align: center;
  background: black;
  background-image: url("../image/Brain.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

table {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

input[type="button"] {
  width: 100%;
  padding: 20px 40px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  max-width: 90px;
}

#back {
  padding-left: 17px;
}

p {
  background: #b6b4b3;
  font-size: 24px;
  font-weight: bold;
  line-height: 75px;
  border: none;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 0 20px #eee;
  border: none;
}

#title:hover {
  background-position: center;
  color: brown;
  text-decoration: none;
}

#display {
  background: #b6b4b3;
}

#title {
  background-image: linear-gradient(
    to right,
    #fc354c 0%,
    #0abfbc 51%,
    #fc354c 100%
  );
  font-family: serif;
  font-size: 1.7em;
  color: #1f1e1e;
  background-size: 200% auto;
  transition: 0.5s;
  display: block;
  margin-right: 2px;
  margin-left: 2px;
}

#clear,
#back {
  margin-top: -15px;
}
a {
  margin: 20px;
}

.footer {
  color: #b6b4b3;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  margin-right: 20px;
}
.footer a {
  display: inline;
}

.twitter {
  color: #61dafb;
  font-size: 1.1em;
}

.github {
  color: lightgrey;
  font-size: 1.1em;
}

.footer a:hover {
  color: orangered;
}

.footer,
.footer a {
  font-size: 1em;
}

.footer h1 {
  font-size: 1.8em;
}
